{extend name="extra@html/main"}

{block name='bodyTag'}
	<body class="bgf2f2f2">
	{block name='body'}
		<header class="mui-bar mui-bar-nav di_navbox">
		    <a href="#" class="dl_nav_btn dl_nav_info"></a>
		    <h1 class="mui-title">经销商后台</h1>
		    <a href="user_content.html" class="dl_nav_btn dl_nav_user"></a>
		</header>
		<div class="mui-content">
			<div class="dl_cont">				
			    <div class="dl_menu_son mui-clearfix">
			    	<a href="user_dailixinxi.html">
			    		<div class="dl_menu_icon dlxx mui-pull-left"></div>
			    		<div class="dl_menu_text mui-pull-left">
			    			<p class="title">我的代理信息</p>
			    			<p class="text">查询已有代理授权信息</p>
			    		</div>
			    	</a>
			    </div>
			    <div class="dl_menu_son mui-clearfix">
			    	<!--<a href="user_dailijiameng.html">-->
			    	<a href="{:Url('agents/new_agent_index')}">
			    		<div class="dl_menu_icon dljm mui-pull-left"></div>
			    		<div class="dl_menu_text mui-pull-left">
			    			<p class="title">新代理加盟</p>
			    			<p class="text">查看或生成下级申请代理的分享链接</p>
			    		</div>
			    	</a>
			    </div>
			    <div class="dl_menu_son mui-clearfix">
			    	<a href="#">
			    		<div class="dl_menu_icon xjdl mui-pull-left"></div>
			    		<div class="dl_menu_text mui-pull-left">
			    			<p class="title">查看下级代理</p>
			    			<p class="text">按品牌查看下级代理信息</p>
			    		</div>
			    	</a>
			    </div>
			    <div class="dl_menu_son mui-clearfix">
			    	<a href="#">
			    		<div class="dl_menu_icon fahuo mui-pull-left"></div>
			    		<div class="dl_menu_text mui-pull-left">
			    			<p class="title">发货</p>
			    			<p class="text">扫描大箱条码或产品二维码发货给下级代理</p>
			    		</div>
			    	</a>
			    </div>
			    <div class="dl_menu_son mui-clearfix">
			    	<a href="#">
			    		<div class="dl_menu_icon cxdh mui-pull-left"></div>
			    		<div class="dl_menu_text mui-pull-left">
			    			<p class="title">查询单号</p>
			    			<p class="text">根据出货单号查询发货信息</p>
			    		</div>
			    	</a>
			    </div>
			    <div class="dl_menu_son mui-clearfix">
			    	<a href="#">
			    		<div class="dl_menu_icon wdgk mui-pull-left"></div>
			    		<div class="dl_menu_text mui-pull-left">
			    			<p class="title">我的顾客</p>
			    			<p class="text">对我的客户进行管理和维护</p>
			    		</div>
			    	</a>
			    </div>
			    <div class="dl_menu_son mui-clearfix">
			    	<a href="#">
			    		<div class="dl_menu_icon caig mui-pull-left"></div>
			    		<div class="dl_menu_text mui-pull-left">
			    			<p class="title">采购</p>
			    			<p class="text">向上级采购货物</p>
			    		</div>
			    	</a>
			    </div>
			</div>
		</div>

	{/block}
	</body>
{/block}