{extend name="extra@html/main"}

{block name='body'}
	
	<div id="slider" class="mui-slider i_banner" >
	  <div class="mui-slider-group mui-slider-loop">
	    <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
	    <div class="mui-slider-item mui-slider-item-duplicate">
	      <a href="#">
	        <img src="__PUBLIC__/static/html/img/banner.png">
	      </a>
	    </div>
	    <!-- 第一张 -->
	    <div class="mui-slider-item">
	      <a href="#">
	        <img src="__PUBLIC__/static/html/img/banner.png">
	      </a>
	    </div>
	    <!-- 第二张 -->
	    <div class="mui-slider-item">
	      <a href="#">
	        <img src="__PUBLIC__/static/html/img/banner.png">
	      </a>
	    </div>
	    <!-- 第三张 -->
	    <div class="mui-slider-item">
	      <a href="#">
	        <img src="__PUBLIC__/static/html/img/banner.png">
	      </a>
	    </div>
	    <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
	    <div class="mui-slider-item mui-slider-item-duplicate">
	      <a href="#">
	        <img src="__PUBLIC__/static/html/img/banner.png">
	      </a>
	    </div>
	  </div>
	  <div class="mui-slider-indicator">
	    <div class="mui-indicator mui-active"></div>
	    <div class="mui-indicator"></div>
	    <div class="mui-indicator"></div>
	  </div>
	</div>
	<div class="mui-content">
		<div class="i_iconbtn mui-clearfix">
			<div class="son"><a href="#" class="soncont sqcx">授权查询</a></div>
			<div class="son"><a href="#" class="soncont fwcx">防伪查询</a></div>
			<div class="son"><a href="{:Url('html/Agent/index')}" class="soncont dlht">代理后台</a></div>
			<div class="son"><a href="#" class="soncont jfcx">积分查询</a></div>
			<div class="son"><a href="#" class="soncont gywm">关于我们</a></div>
		</div>
		<div class="i_title mui-text-center">
			-&nbsp;产品展示&nbsp;-
		</div>
		<ul class="i_prolist">
			
			{volist name="list" id="vo" empty="暂时没有数据" }
				<li class="mui-clearfix">
					<div class="i_pro_pic mui-pull-left" style="background-image: url(__PUBLIC__{$vo.image});"></div>
					<div class="i_pro_info mui-pull-left">
						<p class="title">{$vo.name}</p>
						<p class="text">{$vo.intro}</p>
					</div>
				</li>
			{/volist}

		</ul>
	</div>
	<script type="text/javascript">
		var gallery = mui('.mui-slider');
		gallery.slider({
		  interval:3500//自动轮播周期，若为0则不自动播放，默认为0；
		});
		
	</script>

{/block}