{extend name="extra@html/main"}
{block name='bodyTag'}
<body class="bgf2f2f2">
{block name='body'}
		<header class="mui-bar mui-bar-nav di_navbox">
		    <h1 class="mui-title">采购记录</h1>
		    <!--<button class="mui-btn-link mui-pull-right usin_topbtn" id="usin_bjbtn">操作</button>-->
		    <button class="mui-btn-link mui-pull-right usin_topbtn" id="usin_delbtn" style="display: none;">删除</button>
		</header>
		<div class="mui-content">
		    <div class="cgr_tabbox">
		    	<div class="cgr_tabcont center_block mui-row">
					<div class="mui-col-xs-6 usdl_24 cgr_tabson mui-text-center active">
                        <a href="{:Url('Purchase/record_give_to')}">我向别人采购</a>
                    </div>
                    <div class="mui-col-xs-6 usdl_24 cgr_tabson mui-text-center ">
                        <a href="{:Url('Purchase/record_give_me')}">别人向我采购</a>
					</div>
		    	</div>
		    </div>
		    <ul class="usin_list cgr_list cgtr_contbox">
                {volist name='list' id='vo' empty='暂无采购记录'}
                    <li class="mui-clearfix">
                        <div class="usin_list_left">
                            <input name="radio-3-set" type="checkbox" value="0" class="regular-radio" id="usin_checkbox_1">
                            <label for="usin_checkbox_1"></label>
                        </div>
                        <div class="usin_list_handle">
                            <div class="usfh_list_son" style="padding-bottom: 10%;">
                                <div class="usfh_lisbox usfh_lis_fhr">
                                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>
                                    <div class="usck_dls_info cgr_tr_info" style="padding-bottom: 17%;">
                                        <div class="usck_databox cgrt_databox mui-clearfix">
                                            <p class="name usdl_28">{$vo.incept_username}</p>
                                            <p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">{$vo.incept_user_wechat}</span></span></p>
                                            <!--<a href="#" class="usdl_28 cg_new_cgbtn mui-pull-left">审核</a>-->
                                            <label class="i_title" style="margin-left: 0px; color: #e84444;font-weight: bold;">
                                                {if condition="$vo['audit'] eq 0"} 审核中
                                                    {elseif condition="$vo['audit'] eq 1"/}已同意
                                                    {elseif condition="$vo['audit'] eq 2"/}不通过
                                                    {else /} 审核中~
                                                {/if}
                                            </label>
                                            <!--<a href="#" class="usdl_28 cg_new_cgbtn mui-pull-left">转上级</a>-->
                                        </div>
                                    </div>
                                </div>
                                <div class="usfh_lisbox">
                                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>
                                    <div class="usck_dls_info">
                                        <div class="usck_databox">
                                            <p class="name usdl_28">{$vo.sponsor_username}</p>
                                            <p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">{$vo.sponsor_user_wechat}</span></span></p>
                                            <!--<p class="usdl_24">采购数量：40</p>-->
                                            {volist name='vo.details' id='voo'}
                                                <p class="usdl_24">{$voo.product_name}：{$voo.boxful}箱 {$voo.box}盒</p>
                                            {/volist}
                                            <p class="usdl_24">收件人：{$vo.consignee}</p>
                                            <p class="usdl_24">电话：{$vo.mobile}</p>
                                            <p class="usdl_24">地址：{$vo.address}</p>
                                            <p class="usdl_24">备注：{empty name='vo.remake'}无{else /}{$vo.remake}{/empty}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {/volist}
		    	<!--<li class="mui-clearfix">-->
		    		<!--<div class="usin_list_left">-->
						<!--<input name="radio-3-set" type="checkbox" value="0" class="regular-radio" id="usin_checkbox_2">-->
						<!--<label for="usin_checkbox_2"></label>-->
					<!--</div>-->
		    		<!--<div class="usin_list_handle">-->
			    		<!--<div class="usfh_list_son">-->
							<!--<div class="usfh_lisbox usfh_lis_fhr">-->
								<!--<div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>-->
					    		<!--<div class="usck_dls_info cgr_tr_info">-->
					    			<!--<div class="usck_databox cgrt_databox mui-clearfix">-->
										<!--<p class="name usdl_28">郑美玲</p>-->
										<!--<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span></p>-->
										<!--<a href="#" class="usdl_28 cg_new_cgbtn mui-pull-left">审核</a>-->
										<!--<a href="#" class="usdl_28 cg_new_cgbtn mui-pull-left">转上级</a>-->
									<!--</div>-->
					    		<!--</div>-->
				    		<!--</div>-->
				    		<!--<div class="usfh_lisbox">-->
					    		<!--<div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>-->
					    		<!--<div class="usck_dls_info">-->
					    			<!--<div class="usck_databox">-->
										<!--<p class="name usdl_28">林静</p>-->
										<!--<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span></p>-->
										<!--<p class="usdl_24">采购数量：40</p>-->
										<!--<p class="usdl_24">采购数量：40</p>-->
										<!--<p class="usdl_24">采购数量：40</p>-->
										<!--<p class="usdl_24">采购数量：40</p>-->
										<!--<p class="usdl_24">备注：有些箱子是破损的，但不影响使用。</p>-->
									<!--</div>-->
					    		<!--</div>-->
					    	<!--</div>-->
						<!--</div>-->
		    		<!--</div>-->
		    	<!--</li>-->
		    </ul>
    		<script type="text/javascript">
				$("#usin_bjbtn").click(function(){
					$(this).hide();
					$("#usin_delbtn").show();
					$(".usin_list li").each(function(){
						$(this).find(".usin_list_left").css("transform","translateX(0)");
						$(this).find(".usin_list_handle").css("transform","translate(43px,0)");
					});
				});
				$("#usin_delbtn").click(function(){
					var btnArray = ['否', '是'];
					mui.confirm('确认删除选中的消息？', '温馨提示', btnArray, function(e) {
						if (e.index == 1) {
							var k;
							$(".usin_list li input[type=checkbox]:checked").each(function(){
								$(this).parents("li").remove();
							});
							$("#usin_delbtn").hide();
							$("#usin_bjbtn").show();
							$(".usin_list li").each(function(){
								$(this).find(".usin_list_left").css("transform","translateX(-100%)");
								$(this).find(".usin_list_handle").css("transform","translate(0,0)");
							});
							mui.toast('删除成功');
						}
					});
				});
				
			</script>
		</div>
{/block}
</body>
{/block}