{extend name="extra@html/main"}
{block name='body'}
		<header class="mui-bar mui-bar-nav di_navbox">
		    <h1 class="mui-title">采购</h1>
		    <a href="caigou_record.html" class="mui-btn-link mui-pull-right usin_topbtn">采购记录</a>
		</header>
		<div class="mui-content">


			<!-- 下面注释的代码直接删掉 -->

		    <!--<div class="usck_proselect cg_proselect">
				<p class="usdl_28 title">请选择代理产品</p>
				<select class="usck_select usdl_28" name="">
					<option value="">佰芸堂</option>
					<option value="">佰芸堂1</option>
					<option value="">佰芸堂2</option>
				</select>
			</div>-->


			<div class="cg_title usdl_28">我的上级</div>
			<ul class="cg_inlist">
				<li>
					<div class="usck_dlson">
	            		<div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
	            		<div class="usck_dls_info">
	            			<p class="usdl_28 cg_name">黄薇薇</p>
	            			<p class="usdl_24 cg_zhiw">全国总代</p>
	            		</div>
	            		<a href="caigou_content.html" class="mui-pull-right cg_cgbtn usdl_28">采购</a>
		            </div>
	            </li>
	            <li>
					<div class="usck_dlson">
	            		<div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
	            		<div class="usck_dls_info">
	            			<p class="usdl_28 cg_name">黄薇薇</p>
	            			<p class="usdl_24 cg_zhiw">全国总代</p>
	            		</div>
	            		<a href="#" class="mui-pull-right cg_cgbtn usdl_28">采购</a>
		            </div>
	            </li>
	            <li>
					<div class="usck_dlson">
	            		<div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
	            		<div class="usck_dls_info">
	            			<p class="usdl_28 cg_name">黄薇薇</p>
	            			<p class="usdl_24 cg_zhiw">全国总代</p>
	            		</div>
	            		<a href="#" class="mui-pull-right cg_cgbtn usdl_28">采购</a>
		            </div>
	            </li>
			</ul>
		</div>
{/block}