{extend name="extra@html/main"}
{block name='body'}
		<header class="mui-bar mui-bar-nav di_navbox">
		    <h1 class="mui-title">采购</h1>
		    <a href="caigou_record.html" class="mui-btn-link mui-pull-right usin_topbtn">采购记录</a>
		</header>
		<div class="mui-content">
		    <div class="usfh_list_son cg_contbox">
				<div class="usfh_lisbox usfh_lis_fhr">
					<div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>
		    		<div class="usck_dls_info">
		    			<div class="usck_databox">
							<p class="name usdl_28">{$agentinfo['username']}</p>
							<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">{$agentinfo['wechat_no']}</span></span></p>
							<form action="__SELF__" method="post" id="submitForm">
								<div class="usfh_in mui-clearfix">
									<p class="mui-pull-left usdl_24">请选择采购产品及数量</p>
									<a class="mui-block mui-pull-right usfh_in_numadd_btn usdl_24" id="usfh_in_numadd_btn">添加</a>
								</div>
								<div id="usfh_in_pronumlist">
									<!--<div class="usfh_in mui-clearfix">-->
										<!--<p class="mui-pull-left usdl_24">润唇膏</p>-->
										<!--<div class="mui-pull-right">-->
											<!--<div class="usfh_pronum_text">盒</div>-->
											<!--<input id=""  class="usck_fhinput mui-pull-right usdl_24 usfh_pronum_input" type="text" value="" name=""  />-->
											<!--<div class="usfh_pronum_text">箱</div>-->
											<!--<input id=""  class="usck_fhinput mui-pull-right usdl_24 usfh_pronum_input" type="text" value="" name=""  />-->
										<!--</div>-->
									<!--</div>-->
								</div>
								<div class="usfh_in mui-clearfix">
									<p class="mui-pull-left usdl_24">收件人</p>
									<input id=""  class="usck_fhinput mui-pull-right usdl_24" type="text" value="" name="consignee"  />
								</div>
								<div class="usfh_in mui-clearfix">
									<p class="mui-pull-left usdl_24">电话</p>
									<input id=""  class="usck_fhinput mui-pull-right usdl_24" type="number" value="" name="mobile"  />
								</div>
								<div class="usfh_in mui-clearfix">
									<p class="mui-pull-left usdl_24">地址</p>
									<textarea class="usck_fhtext mui-pull-right usdl_24" name="address"></textarea>
								</div>
                                <div class="usfh_in mui-clearfix">
                                    <p class="mui-pull-left usdl_24">备注</p>
                                    <textarea class="usck_fhtext mui-pull-right usdl_24" name="remake"></textarea>
                                </div>
								<div class="usfh_in mui-clearfix">
									<button type="button" class="cgcont_btn mui-pull-right usdl_28">采购</button>
								</div>
                                <input type="hidden" name="incept_user_id" value="{$agentinfo['super_id']}"/>
                                <input type="hidden" name="incept_user_wechat" value="{$agentinfo['wechat_no']}"/>
							</form>
						</div>
		    		</div>
	    		</div>
	    		<div class="usfh_lisbox">
		    		<div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>
		    		<div class="usck_dls_info">
		    			<div class="usck_databox">
						<p class="name usdl_28">{$Think.session.agent.username}</p>
						<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">{$Think.session.agent.wechat_no}</span></span></p>
						</div>
		    		</div>
		    	</div>
			</div>
		</div>

		<div class="c_cover" style="display: none;">
			<div class="cg_cpro">
				<p class="title usdl_32 mui-text-center">请选择采购产品</p>
				<ul class="cg_cpro_list usdl_28">
                    {volist name='product_list' id='vo' empty="暂无上架产品"}
                        <li data-id="{$vo.id}">{$vo.name}</li>
                    {/volist}
				</ul>
				<div class="cg_cpro_btns">
					<a class="cg_cpro_btn mui-pull-left mui-block mui-text-center usdl_28" id="cg_cpro_close">取消</a>
					<a class="cg_cpro_btn mui-pull-right mui-block mui-text-center usdl_28" id="cg_cpro_submit">确定</a>
				</div>
			</div>
		</div>
        <script type="text/javascript" src="__PUBLIC__/static/html/js/jquery.form.min.js?ver={:date('ymdHs')}" ></script>
		<script type="text/javascript">
			$(function(){
				var cover = $(".c_cover");
				var list = $(".cg_cpro_list");
				var addbtn = $("#usfh_in_numadd_btn");
				var close = $("#cg_cpro_close");
				var _submit = $("#cg_cpro_submit");
				var _div = $("#usfh_in_pronumlist");
				var pro,html,pro_id;
				
				addbtn.bind('click',function(){
					cover.show();
				});
				close.bind('click',function(){
					cover.hide();
				});
				list.children('li').bind('click',function(){
					list.find("li").removeClass('active');
					$(this).addClass('active');
					pro = $(this).text();
                    pro_id = $(this).data('id');
				});
				_submit.bind('click',function(){
                    if(!pro){
                        mui.alert('请先选择产品~');
                        return false;
                    }
					//页面注入填写框
					html = '<div class="usfh_in mui-clearfix">';
					html += '<p class="mui-pull-left usdl_24">'+ pro +'</p>';
					html += '<div class="mui-pull-right">';
					html += '<div class="usfh_pronum_text">盒</div>';
					html += '<input id=""  class="usck_fhinput mui-pull-right usdl_24 usfh_pronum_input" type="text" value="" name="box_arr['+ pro_id +']"  />';
					html += '<div class="usfh_pronum_text">箱</div>';
					html += '<input id=""  class="usck_fhinput mui-pull-right usdl_24 usfh_pronum_input" type="text" value="" name="boxful['+ pro_id +']"  /></div></div>';
                    html += '<input type="hidden" name="pro_arr[]" value="'+ pro_id +'">'
					//关闭弹窗
					cover.hide();
					
					//填写框打印到页面
					_div.append(html);
				});

                $('.cgcont_btn').click(function(){
                    var consignee = $('input[name="consignee"]').val();
                    var remake = $('textarea[name="remake"]').val();
                    var mobile = $('input[name="mobile"]').val();
                    var address = $('textarea[name="address"]').val();
                    if( !consignee ){
                        mui.alert('收件人不能为空')
                        return false;
                    }
                    if( !mobile ){
                        mui.alert('手机号不能为空')
                        return false;
                    }
                    if( !address ){
                        mui.alert('收货地址不能为空')
                        return false;
                    }
                    $('#submitForm').submit();

//                    judgeEmpty(consignee, '收件人不能为空');
//                    judgeEmpty(mobile, '手机号不能为空');
//                    judgeEmpty(address, '收货地址不能为空');
                })

                //ajaxform  配置
                var options = {
                    // target:        '#output',   // target element(s) to be updated with server response
                    beforeSubmit:  showRequest,  // pre-submit callback
                    success:       showResponse,  // post-submit callback
                    resetForm: true,
                    dataType:  'json'
                    // other available options:
                    //url:       url         // override for form's 'action' attribute
                    //type:      type        // 'get' or 'post', override for form's 'method' attribute
                    //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
                    //clearForm: true        // clear all form fields after successful submit
                    //resetForm: true        // reset the form after successful submit

                    // $.ajax options can be used here too, for example:
                    //timeout:   3000
                };

                // bind to the form's submit event

                $('#submitForm').submit(function() {
                    $(this).ajaxSubmit(options);

                    return false;
                });
            // pre-submit callback
            function showRequest(formData, jqForm, options) {
//                var uname = $("#uname").val();
//                if(uname==""){
//                    $("#msg").html("姓名不能为空！");
//                    return false;
//                }
//
//                var age = $("#age").val();
//                if(age==""){
//                    $("#msg").html("年龄不能为空！");
//                    return false;
//                }
//                $("#msg").html("正在提交...");


                return true;
            }

            // post-submit callback
            function showResponse(responseText, statusText)  {
                var res = responseText;
                console.log(statusText);
                console.log(res);
                if(res.code == 0){
//                    mui.alert(res.msg);
                    mui.toast(res.msg);

//                    return false;
                }else if(res.code == 1){
                    mui.toast("采购成功");
                    setTimeout(function () {
                        window.location.href = res.data;
                    }, 2000);
                }
//                $("#msg").html('提交成功');
//                var sex = responseText.sex==1?"男":"女";
//                $("#output").html("姓名："+responseText.uname+"&nbsp;性别："+sex+"&nbsp;年龄："+responseText.age);

            }

            });

//			mui.toast("采购成功");


			
		</script>
{/block}