{extend name="extra@html/main"}

{block name='bodyTag'}
<body class="bgf2f2f2">
{block name='body'}
    <header class="mui-bar mui-bar-nav di_navbox">
        <h1 class="mui-title">发货</h1>
        <a href="{:Url('Shipping/add')}" class="mui-pull-right usfh_addbtn usdl_28">新增</a>
    </header>
    <div class="mui-content">
        <div class="usfh_title usdl_28">
            <b>发货记录</b>
        </div>
        <div class="usfh_list">
            <div class="usfh_list_son">
                <div class="usfh_lis_title usdl_24">订单号：5456465455</div>
                <div class="usfh_lisbox usfh_lis_fhr">
                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
                    <div class="usck_dls_info">
                        <div class="usck_databox">
                        <p class="name usdl_28">郑美玲</p>
                        <p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span></p>
                            <p class="usdl_24">快递单号：111111231564646</p>
                            <p class="usdl_24">发货时间：2017/05/18 15:35:22</p>
                            <p class="usdl_24">发货数量：40</p>
                            <p class="usdl_24">产品名称：维度（04）</p>
                            <p class="usdl_24">备注：有些箱子是破损的，但不影响使用。</p>
                        </div>
                    </div>
                </div>
                <div class="usfh_lisbox">
                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
                    <div class="usck_dls_info">
                        <div class="usck_databox">
                        <p class="name usdl_28">林静</p>
                        <p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c_feng margin"></div>

            <div class="usfh_list_son">
                <div class="usfh_lis_title usdl_24">订单号：5456465455</div>
                <div class="usfh_lisbox usfh_lis_fhr">
                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
                    <div class="usck_dls_info">
                        <div class="usck_databox">
                        <p class="name usdl_28">郑美玲</p>
                        <p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span></p>
                            <p class="usdl_24">快递单号：111111231564646</p>
                            <p class="usdl_24">发货时间：2017/05/18 15:35:22</p>
                            <p class="usdl_24">发货数量：40</p>
                            <p class="usdl_24">产品名称：维度（04）</p>
                            <p class="usdl_24">备注：有些箱子是破损的，但不影响使用。</p>
                        </div>
                    </div>
                </div>
                <div class="usfh_lisbox">
                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
                    <div class="usck_dls_info">
                        <div class="usck_databox">
                        <p class="name usdl_28">林静</p>
                        <p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
</body>
{/block}