{extend name="extra@html/main"}

{block name='body'}
		<header class="mui-bar mui-bar-nav di_navbox">
		    <h1 class="mui-title">选择发货代理</h1>
		</header>
		<div class="mui-content">
			<div class="usck_proselect fh_proselect">
				<p class="usdl_28 title">请选择代理产品</p>
				<select class="usck_select usdl_28" name="">
					<option value="">佰芸堂</option>
					<option value="">佰芸堂1</option>
					<option value="">佰芸堂2</option>
				</select>
			</div>
			<div class="c_feng margin"></div>
			<div class="usck_dllist">
				<ul class="mui-table-view usck_dll_ul">
				    <li class="mui-table-view-cell mui-collapse">
				        <a class="mui-navigate-right usdl_32">一级代理<span class="mui-badge mui-badge-inverted usdl_28">1</span></a>
				        <div class="mui-collapse-content">
				            <div class="usck_dlson">
				            	<a class="usck_rqbtn" data-id="1">
				            		<div class="usck_dls_pic"  style="background-image: url(img/pro-pci.png);"></div>
				            		<div class="usck_dls_info">
										<p class="name usdl_28">郑美玲</p>
										<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span><span class="info_icon"><i class="mui-icon mui-icon-phone-filled"></i><span class="usdl_24">13800138000</span></span></p>
										<div class="usck_databox">
											<p class="usdl_24">直属人数：12</p>
											<p class="usdl_24">团队人数：40</p>
											<p class="usdl_24">特约代理：C193</p>
										</div>
				            		</div>
				            	</a>
				            </div>
				            <div class="usck_dlson">
				            	<a class="usck_rqbtn" data-id="">
				            		<div class="usck_dls_pic"  style="background-image: url(img/pro-pci.png);"></div>
				            		<div class="usck_dls_info">
										<p class="name usdl_28">郑美玲</p>
										<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span><span class="info_icon"><i class="mui-icon mui-icon-phone-filled"></i><span class="usdl_24">13800138000</span></span></p>
										<div class="usck_databox">
											<p class="usdl_24">直属人数：12</p>
											<p class="usdl_24">团队人数：40</p>
											<p class="usdl_24">特约代理：C193</p>
										</div>
				            		</div>
				            	</a>
				            </div>
				        </div>
				    </li>
				    <li class="mui-table-view-cell mui-collapse">
				        <a class="mui-navigate-right usdl_32">二级代理<span class="mui-badge mui-badge-inverted usdl_28">16</span></a>
				        <div class="mui-collapse-content">
				            <div class="usck_dlson">
				            	<a class="usck_rqbtn" data-id="">
				            		<div class="usck_dls_pic"  style="background-image: url(img/pro-pci.png);"></div>
				            		<div class="usck_dls_info">
										<p class="name usdl_28">郑美玲</p>
										<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span><span class="info_icon"><i class="mui-icon mui-icon-phone-filled"></i><span class="usdl_24">13800138000</span></span></p>
										<div class="usck_databox">
											<p class="usdl_24">直属人数：12</p>
											<p class="usdl_24">团队人数：40</p>
											<p class="usdl_24">特约代理：C193</p>
										</div>
				            		</div>
				            	</a>
				            </div>
				        </div>
				    </li>
				    <li class="mui-table-view-cell mui-collapse">
				        <a class="mui-navigate-right usdl_32">三级代理<span class="mui-badge mui-badge-inverted usdl_28">8</span></a>
				        <div class="mui-collapse-content">
				            <div class="usck_dlson">
				            	<a class="usck_rqbtn" data-id="">
				            		<div class="usck_dls_pic"  style="background-image: url(img/pro-pci.png);"></div>
				            		<div class="usck_dls_info">
										<p class="name usdl_28">郑美玲</p>
										<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span><span class="info_icon"><i class="mui-icon mui-icon-phone-filled"></i><span class="usdl_24">13800138000</span></span></p>
										<div class="usck_databox">
											<p class="usdl_24">直属人数：12</p>
											<p class="usdl_24">团队人数：40</p>
											<p class="usdl_24">特约代理：C193</p>
										</div>
				            		</div>
				            	</a>
				            </div>
				        </div>
				    </li>
				    <li class="mui-table-view-cell mui-collapse">
				        <a class="mui-navigate-right usdl_32">特约代理<span class="mui-badge mui-badge-inverted usdl_28">5</span></a>
				        <div class="mui-collapse-content">
				            <div class="usck_dlson">
				            	<a class="usck_rqbtn" data-id="">
				            		<div class="usck_dls_pic"  style="background-image: url(img/pro-pci.png);"></div>
				            		<div class="usck_dls_info">
										<p class="name usdl_28">郑美玲</p>
										<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span><span class="info_icon"><i class="mui-icon mui-icon-phone-filled"></i><span class="usdl_24">13800138000</span></span></p>
										<div class="usck_databox">
											<p class="usdl_24">直属人数：12</p>
											<p class="usdl_24">团队人数：40</p>
											<p class="usdl_24">特约代理：C193</p>
										</div>
				            		</div>
				            	</a>
				            </div>
				        </div>
				    </li>
				    <li class="mui-table-view-cell mui-collapse">
				        <a class="mui-navigate-right usdl_32">全国总代<span class="mui-badge mui-badge-inverted usdl_28">3</span></a>
				        <div class="mui-collapse-content">
				            <div class="usck_dlson">
				            	<a class="usck_rqbtn" data-id="">
				            		<div class="usck_dls_pic"  style="background-image: url(img/pro-pci.png);"></div>
				            		<div class="usck_dls_info">
										<p class="name usdl_28">郑美玲</p>
										<p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span><span class="info_icon"><i class="mui-icon mui-icon-phone-filled"></i><span class="usdl_24">13800138000</span></span></p>
										<div class="usck_databox">
											<p class="usdl_24">直属人数：12</p>
											<p class="usdl_24">团队人数：40</p>
											<p class="usdl_24">特约代理：C193</p>
										</div>
				            		</div>
				            	</a>
				            </div>
				        </div>
				    </li>
				</ul>
			</div>
		</div>
		
		<script type="text/javascript">
			$(function(){
				$(".usck_rqbtn").click(function(){
					var id = $(this).data("id");
					$(".usck_dlson").removeClass('active');
					$(this).parent('.usck_dlson').addClass('active');
				});
			});
		</script>
{/block}