{extend name="extra@html/main"}
{block name='body'}
<header class="mui-bar mui-bar-nav di_navbox">
    <!--<div class="mui-input-row mui-search srarch_input mui-pull-left">-->
    <!--<input type="search" class="mui-input-clear usdl_28" placeholder="请输入搜索内容">-->
    <!--</div>-->
    <!--<a href="user_fahuo.html" class="mui-pull-right usfh_addbtn usdl_28">搜索</a>-->
    <div class="mui-input-row  " style="height: 100%;line-height: 44px;text-align: center;font-size: 18px;">
        <span class="mui-input-clear usdl_28"  > 选择收货人--您的直属代理</span>
    </div>
    <!--<a href="user_fahuo.html" class="mui-pull-right usfh_addbtn usdl_28">搜索</a>-->
</header>
<div class="mui-content">
    <!-- 搜索结果显示 -->
    <ul class="cul_list">
        {volist name='res' id='vo' empty="您还没有直属代理，赶紧去邀请好友吧~"}
        <li>
            <div class="usck_dlson">
                <a class="usck_rqbtn" data-id="1" href="{:Url('Shipping/seeSubList',['user_id'=>$vo.user_id, 'agent_id' => $vo.id, 'pro_id' => $vo.product_id])}">
                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>
                    <div class="usck_dls_info">
                        <p class="name usdl_28">{$vo.username}（{$agenttype[$vo['level']]}）</p>
                        <p class="call_info">
                                <span class="info_icon">
                                    <i class="mui-icon mui-icon mui-icon-list"></i>
                                    <span class="usdl_24">{empty name="vo.project_name"}已下架{else /}{$vo.project_name}{/empty}</span>
                                </span>
                            <!--<span class="info_icon">-->
                            <!--<i class="mui-icon mui-icon-phone-filled"></i>-->
                            <!--<span class="usdl_24">{empty  name="vo.mobile"}暂无{else /}{$vo.mobile}{/empty}</span>-->
                            <!--</span>-->
                        </p>
                        <p class="call_info">
                                <span class="info_icon">
                                    <i class="mui-icon mui-icon-weixin"></i>
                                    <span class="usdl_24">{empty name="vo.wechat_no"}暂无{else /}{$vo.wechat_no}{/empty}</span>
                                </span>
                                <span class="info_icon">
                                    <i class="mui-icon mui-icon-phone-filled"></i>
                                    <span class="usdl_24">{empty  name="vo.mobile"}暂无{else /}{$vo.mobile}{/empty}</span>
                                </span>
                        </p>
                    </div>
                </a>
            </div>
        </li>
        {/volist}
    </ul>
</div>
{/block}
