{extend name="extra@html/main"}
{block name='style'}
<link rel="stylesheet" href="__PUBLIC__/static/html/css/mui.picker.min.css" />
{/block}
{block name='bodyTag'}
<body class="bgf2f2f2">
{block name='body'}
    <header class="mui-bar mui-bar-nav di_navbox">
        <h1 class="mui-title">发货</h1>
        <a href="javascript:void(0)" class="mui-pull-right usfh_addbtn usdl_28">保存</a>
    </header>
    <div class="mui-content">
        <!--<div class="usfh_title usdl_28">-->
            <!--<b>货单一</b>-->
        <!--</div>-->
        <div class="usfh_list">
            <div class="usfh_list_son">
                <div class="usfh_lis_title usdl_24">
                    <button id="scanQRCode" type="button" style="margin-left: 75%" class="mui-btn">扫码发货</button>
                </div>
                <div class="usfh_lisbox usfh_lis_fhr">
                    <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/pro-pci.png);"></div>
                    <div class="usck_dls_info">
                        <div class="usck_databox">
                            <p class="name usdl_28">郑美玲</p>
                            <p class="call_info"><span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">meiulin2546</span></span></p>
                            <form action="">
                                <div class="usfh_in mui-clearfix">
                                    <p class="mui-pull-left usdl_24">取货方式</p>
                                    <select id="picking_type" class="usdl_24 usck_fhsel mui-pull-right" name="picking_type">
                                        <option value="0">自提</option>
                                        <option value="1">快递</option>
                                    </select>
                                </div>
                                <div class="usfh_in mui-clearfix" id="express_sn">
                                    <p class="mui-pull-left usdl_24">快递单号</p>
                                    <input  class="usck_fhinput mui-pull-right usdl_24" type="text" value="" name="express_sn"  />
                                </div>
                                <div class="usfh_in mui-clearfix">
                                    <p class="mui-pull-left usdl_24">发货时间</p>
                                    <input class="usck_fhinput mui-pull-right usdl_24 mui-text-left usfh-datebtn" type="button" value="" name="send_time"  />
                                </div>
                                <div class="usfh_in mui-clearfix">
                                    <p class="mui-pull-left usdl_24">发货数量</p>
                                    <input  class="usck_fhinput mui-pull-right usdl_24" disabled type="text" value="{$count_anti}" name="num"  />

                                </div>
                                <div class="usfh_in mui-clearfix">
                                    <p class="mui-pull-left usdl_24">产品名称</p>
                                    <input  class="usck_fhinput mui-pull-right usdl_24" type="text" value="" name="product_name"  />
                                </div>
                                <div class="usfh_in mui-clearfix">
                                    <p class="mui-pull-left usdl_24">备注</p>
                                    <textarea name="remark" id='remark' class="usck_fhtext mui-pull-right usdl_24"></textarea>
                                </div>
                                <!--<div class="usfh_in mui-clearfix">-->
                                    <!--<p class="mui-pull-left usdl_24">扫码结果</p>-->
                                    <!--<input id="id_securityCode_input"  class="usck_fhinput mui-pull-right usdl_24" type="text" value="" name=""  />-->
                                <!--</div>-->
                            </form>
                        </div>
                    </div>
                </div>
                <!--选择收货人-->
                <div class="usfh_lisbox" style="height: 60px;">
                    <a href="{:Url('Shipping/consignee')}">
                        <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/fahuo_addicon.png);"></div>
                    </a>
                    {present name="take_info"}
                    <a href="{:Url('Shipping/consignee')}">
                        <div class="usck_dls_pic"  style="background-image: url(__PUBLIC__/static/html/img/logo.png);"></div>
                    </a>
                    <div class="usck_dls_info">
                        <div class="usck_databox">
                            <p class="name usdl_28">{$take_info.username}【{$agenttype[$take_info['level']]}】</p>
                            <p class="call_info">
                                <span class="info_icon"><i class="mui-icon mui-icon-weixin"></i><span class="usdl_24">{empty name="take_info.wechat_no"}暂无{else /}{$take_info.wechat_no}{/empty}</span></span>
                            </p>
                            <p class="call_info">
                                <span class="info_icon"><i class="mui-icon mui-icon-bars"></i><span class="usdl_24">{empty name="take_info.product_name"}暂无{else /}{$take_info.product_name}{/empty}</span></span>
                            </p>
                        </div>
                    </div>
                    {/present}
                </div>

            </div>
        </div>
    </div>
<input type="hidden" name="take_user_id" value="{$data.take_user_id}">
<input type="hidden" name="combo" value="{present name='take_info'}{$take_info.id}{else /}0{/present}"/>
    <script type="text/javascript" src="__PUBLIC__/static/html/js/mui.picker.min.js" ></script>
    <script type="text/javascript">

        (function($) {

            var btns = $('.usfh-datebtn');
            btns.each(function(i, btn) {
                btn.addEventListener('tap', function() {
                    var optionsJson = this.getAttribute('data-options') || '{}';
                    var options = JSON.parse(optionsJson);
                    var id = this.getAttribute('id');
                    /*
                     * 首次显示时实例化组件
                     * 示例为了简洁，将 options 放在了按钮的 dom 上
                     * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
                     */
                    var picker = new $.DtPicker(options);
                    picker.show(function(rs) {
                        /*
                         * rs.value 拼合后的 value
                         * rs.text 拼合后的 text
                         * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
                         * rs.m 月，用法同年
                         * rs.d 日，用法同年
                         * rs.h 时，用法同年
                         * rs.i 分（minutes 的第二个字母），用法同年
                         */
                        btn.value = rs.text;
                        /*
                         * 返回 false 可以阻止选择框的关闭
                         * return false;
                         */
                        /*
                         * 释放组件资源，释放后将将不能再操作组件
                         * 通常情况下，不需要示放组件，new DtPicker(options) 后，可以一直使用。
                         * 当前示例，因为内容较多，如不进行资原释放，在某些设备上会较慢。
                         * 所以每次用完便立即调用 dispose 进行释放，下次用时再创建新实例。
                         */
                        picker.dispose();
                    });
                }, false);
            });
        })(mui);


        $('#picking_type').change(function(){
            var picking_type = $(this).val();
            if(picking_type == 0){
                $('#express_sn').css('display','none');
            }else{
                $('#express_sn').css('display','block');
            }
        })

        var picking_type = $('#picking_type').val();
        if(picking_type == 0){
            $('#express_sn').css('display','none');
        }else{
            $('#express_sn').css('display','block');
        }

        var combo = $("input[name='combo']").val();
        $("input[name='express_sn']").focus(function(){
            if(combo == 0){
                $(this).blur();
                $(this).val('');
                mui.alert('请先选择收货人再填信息~','警告');
                return;
            }
        })
        $("input[name='num']").focus(function(){
            if(combo == 0){
                $(this).blur();
                $(this).val('');
                mui.alert('请先选择收货人再填信息~','警告');
                return;
            }
        })
        $("#remark").focus(function(){
            if(combo == 0){
                $(this).blur();
                $(this).val('');
                mui.alert('请先选择收货人再填信息~','警告');
                return;
            }
        })
        $("input[name='product_name']").focus(function(){
            if(combo == 0){
                $(this).blur();
                $(this).val('');
                mui.alert('请先选择收货人再填信息~','警告');
                return;
            }
        })

//        删除
        $('#scanQRCode').click(function(){
            var ajaxUrl = "{:Url('Shipping/ajaxSweepIndex')}"
            $.ajax({
                type: "POST",
                url: ajaxUrl,
//                data: "name=John&location=Boston",
                success: function(res){
                    if(res.code == 1){
                        window.location.href = res.data.url;
                    }else{
                        mui.alert('请先选择收货人再填信息~','警告');
                    }
                }
            });
        })

//        保存
        $('.usfh_addbtn').click(function(){
            var take_user_id = $("input[name='take_user_id']").val();
            var picking_type = $('#picking_type').val();
            var express_sn = $("input[name='express_sn']").val();
            var send_time = $("input[name='send_time']").val();
            var num = $("input[name='num']").val();
            var product_name = $("input[name='product_name']").val();
            var remark = $('#remark').val();

            judgeEmpty(take_user_id,'网络请求有误，请稍候重试~')

            console.log(take_user_id,picking_type,express_sn,send_time,num,product_name,remark);
        })

    </script>


{/block}
</body>
{/block}
