{extend name="extra@html/main"}
{block name='bodyTag'}
<body class="bgf2f2f2">
{block name='body'}
		<header class="mui-bar mui-bar-nav di_navbox">
		    <h1 class="mui-title">合作协议</h1>
		</header>
		<div class="mui-content">
			<div class="usbyq_xytext usdl_24">
				(一)合伙人的权利：<br />
				1、参加合伙人会议，并对合伙事务的执行进行监督; <br />
				<!--1、参加合伙人会议，并对合伙事务的执行进行监督; <br />-->
				<!--1、参加合伙人会议，并对合伙事务的执行进行监督; <br />-->
				<!--1、参加合伙人会议，并对合伙事务的执行进行监督; <br />-->
				<!--1、参加合伙人会议，并对合伙事务的执行进行监督; <br />-->
				<!--1、参加合伙人会议，并对合伙事务的执行进行监督; <br />-->
				<!--1、参加合伙人会议，并对合伙事务的执行进行监督; <br />-->
				<!--1、参加合伙人会议，并对合伙事务的执行进行监督; <br />-->
			</div>
		</div>
{/block}
</body>
{/block}
