{extend name="extra@html/main"}

{block name='body'}
		<header class="mui-bar mui-bar-nav di_navbox">
		    <h1 class="mui-title">我的消息</h1>
		    <!--<button class="mui-btn-link mui-pull-right usin_topbtn" id="usin_bjbtn">编辑</button>-->
		    <!--<button class="mui-btn-link mui-pull-right usin_topbtn" id="usin_delbtn" style="display: none;">删除</button>-->
		</header>
		<div class="mui-content">
		    <ul class="usin_list">
		    	<!---->
		    	<!--<li class="mui-clearfix">-->
		    		<!--<div class="usin_list_left">-->
						<!--<input name="radio-3-set" type="checkbox" value="2" class="regular-radio" id="usin_checkbox_3">-->
						<!--<label for="usin_checkbox_3"></label>-->
					<!--</div>-->
		    		<!--<div class="usin_list_handle">-->
			    		<!--<p class="usin_title usdl_32">系统提示3</p>-->
			    		<!--<p class="usin_text usdl_28">你的上家给你发货了，商品包括三包大盒两盒小包装的。</p>-->
			    		<!--<span class="mui-pull-right usin_date usdl_22">2017/5/17 15:45:35</span>-->
		    		<!--</div>-->
		    	<!--</li>-->
		    </ul>
		</div>
		<script type="text/javascript">
			$("#usin_bjbtn").click(function(){
				$(this).hide();
				$("#usin_delbtn").show();
				$(".usin_list li").each(function(){
					$(this).find(".usin_list_left").css("transform","translateX(0)");
					$(this).find(".usin_list_handle").css("transform","translate(43px,0)");
				});
			});
			$("#usin_delbtn").click(function(){
				var btnArray = ['否', '是'];
				mui.confirm('确认删除选中的消息？', '温馨提示', btnArray, function(e) {
					if (e.index == 1) {
						var k;
						$(".usin_list li input[type=checkbox]:checked").each(function(){
							$(this).parents("li").remove();
						});
						$("#usin_delbtn").hide();
						$("#usin_bjbtn").show();
						$(".usin_list li").each(function(){
							$(this).find(".usin_list_left").css("transform","translateX(-100%)");
							$(this).find(".usin_list_handle").css("transform","translate(0,0)");
						});
						mui.toast('删除成功');
					}
				});
			});
			
		</script>
{/block}
