{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加代理" class='layui-btn layui-btn-small'><i
            class='fa fa-plus'></i> 添加代理
    </button>
    <button data-update data-field='delete' data-action='{:url("classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除代理
    </button>
</div>
{/block}
{block name="content"}
<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="username" value="{$Think.get.username|default=''}" placeholder="用户名" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="phone" value="{$Think.get.phone|default=''}" placeholder="手机号" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
            <tr>
                <!--<th class='list-table-check-td'>
                    <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                </th>-->
                <th class='text-center'>编号</th>
                <th class='text-center'>邀请人用户名</th>
                <th class='text-center'>邀请人手机号</th>
                <!--<th class='text-center'>邀请人代理等级</th>-->
                <th class='text-center'>代理的产品</th>
                <th class='text-center'>授权代理等级</th>
                <th class='text-center'>微信号</th>
                <th class='text-center'>手机号</th>
                <th class='text-center'>身份证号</th>
                <th class='text-center'>身份证正面图片</th>
                <th class='text-center'>身份证反面图片</th>
                <th class='text-center'>收货地址</th>
                <!--<th class='text-center'>锁定</th>-->
                <th class='text-center'>授权</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <!--<td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                </td>-->
                <td class='text-center'>{$vo.id}</td>
                <td class='text-center'>{$vo.super_name}</td>
                <td class='text-center'>{$vo.super_mobile}</td>
                <td class='text-center'>{$vo.pro_name}</td>
                <td class='text-center'>{$agenttype[$vo['invite_level']]}</td>
                <td class='text-center'>{$vo.wechat_no}</td>
                <td class='text-center'>{$vo.mobile}</td>
                <td class='text-center'>{$vo.idcard}</td>
                <td class='text-center'>{empty name="vo.positive"}
                    无
                    {else /}
                    <img data-tips-image='public/uploads/{$vo.positive}' class="tips_audit" src="public/uploads/{$vo.positive}" style="width:126px;height:77px;border-radius: 8px;"/>
                    {/empty}</td>
                <td class='text-center'>{empty name="vo.reverse"}
                    无
                    {else /}
                    <img data-tips-image='public/uploads/{$vo.positive}' class="tips_audit"  src="public/uploads/{$vo.reverse}" style="width:126px;height:77px;border-radius: 8px;"/>
                    {/empty}</td>
                <td class='text-center'>{$vo.address}</td>

                <!--<td class='text-center'>
                    {if $vo.status eq 0}
                    <span>已禁用</span>
                    {elseif $vo.status eq 1}
                    <span style="color:#090">使用中</span>
                    {/if}
                </td>-->
                <td class='text-center nowrap'>
                    {if $vo.is_through eq 0}
                        {if auth("$classuri/del")}
                        <span class="text-explode">|</span>
                        <a data-update="{$vo.id}" data-field='pass' data-action='{:url("$classuri/pass")}'
                           href="javascript:void(0)">通过</a>
                        {/if}
                        {if auth("$classuri/del")}
                        <span class="text-explode">|</span>
                        <a data-update="{$vo.id}" data-field='nopass' data-action='{:url("$classuri/nopass")}'
                           href="javascript:void(0)">不通过</a>
                        {/if}
                    {elseif $vo.is_through eq 1}
                        已通过
                    {elseif $vo.is_through eq 2}
                        未通过
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}
{block name="style"}
<style>

    /*#news_box {position:relative;}*/
    /*#news_box .news_item {position:relative;left:0;top:0;padding:5px;border:1px solid #ccc;box-sizing:content-box;margin:10px;width:300px}*/
    .tips_audit{background-position:center center;background-size:100%;position:relative;height:150px;width:100%;overflow:hidden;}
    .tips_audit p {padding:5px;max-height:5em;font-size:12px;color:#fff;overflow:hidden;text-overflow:ellipsis;background:rgba(0,0,0,0.7);position:absolute;width:100%;bottom:0}
    .tips_audit.other{height:50px;padding:5px 0;}
    .tips_audit .left-image{width:50px;height:50px;position:relative;float:left;background-position:center center;background-size:100%;overflow:hidden;}
    .tips_audit .right-text{float:left;width:250px;padding-right:10px;overflow:hidden;text-overflow:ellipsis;}
    /*#news_box .news_item .hr-line-dashed:last-child{display:none}*/
    /*#news_box .hr-line-dashed{margin:6px 0 1px 0}*/
    /*#news_box .news_tools{top:0;z-index:80;color:#fff;width:312px;margin-left:-6px;position:absolute;background:rgba(0,0,0,0.7);text-align:right;padding:0 5px;line-height:38px;}*/
    /*#news_box .news_tools a{color:#fff;margin-left:10px}*/

</style>
{/block}