<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">指派给代理</label>
        <div class="layui-input-block">
            <select name='user_id' class='layui-select full-width' style='display:block' required="required" title="请选择代理">
                <option  value='0'>---请选择代理---</option>
                {volist name="user_list" id='vo' empty('暂时没有数据')}
                    <option value="{$vo.id}">{$vo.mobile}|{empty name="vo.username"}{$vo.mobile}{else /} {$vo.username}{/empty}</option>
                {/volist}
            </select>
        </div>
    </div>
    {volist name="anti_list" id="vo" key="k"}
    <div class="layui-form-item">
        <label class="layui-form-label">{$key+1} &nbsp;防伪码</label>
        <div class="layui-input-block">
            <input type="text" name="code" value='{$vo.code|default=""}' style="display:initial;width:25%" required="required" disabled class="layui-input">
            &nbsp;&nbsp;&nbsp;&nbsp;是否已有所属代理：<input type="text" name="username" value='{eq name="vo.user_id" value="0"}无{else /}有{/eq}' style="display:initial;width:25%" required="required" disabled class="layui-input">
        </div>
    </div>
    {/volist}
    {if isset($anti_id)}<input type='hidden' value='{$anti_id}' name='anti_id'/>{/if}
    {if isset($anti_code)}<input type='hidden' value='{$anti_code}' name='anti_code'/>{/if}
    {if isset($is_box)}<input type='hidden' value='{$is_box}' name='is_box'/>{/if}
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>
