{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <!--<button data-modal='{:url("$classuri/add")}' data-title="添加代理" class='layui-btn layui-btn-small'><i-->
            <!--class='fa fa-plus'></i> 添加代理-->
    <!--</button>-->
    <!--<button data-update data-field='delete' data-action='{:url("classuri/del")}'-->
            <!--class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除代理-->
    <!--</button>-->
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="qrcode" value="{$Think.get.qrcode|default=''}" placeholder="二维码参数" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="code" value="{$Think.get.code|default=''}" placeholder="防伪码" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
            <tr>
                <!--<th class='list-table-check-td'>
                    <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                </th>-->
                <th class='text-center'>编号</th>
                <th class='text-center'>二维码参数</th>
                <th class='text-center'>防伪码</th>
                <th class='text-center'>密码</th>
                <th class='text-center'>查询次数</th>
                <th class='text-center'>所属代理姓名</th>
                <th class='text-center'>所属代理手机</th>
                <th class='text-center'>最后更新时间</th>
                <!--<th class='text-center'>最近一次登录时间</th>-->
                <!--<th class='text-center'>登录次数</th>-->
                <!--<th class='text-center'>状态</th>-->
                <th class='text-center'>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <!--<td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                </td>-->
                <td class='text-center'>{$vo.id}</td>
                <td class='text-center'>{$vo.qrcode}</td>
                <td class='text-center'>{$vo.code}</td>
                <td class='text-center'>{$vo.passwd}</td>
                <td class='text-center'>{$vo.query}</td>
                <td class='text-center'>{$vo.username}</td>
                <td class='text-center'>{$vo.mobile}</td>
                <td class='text-center'>{empty name='vo.updated_at'}无{else /}{$vo.updated_at|date='Y-m-d H:i:s',###}{/empty}</td>

                <td class='text-center nowrap'>
                    {if auth("$classuri/setAntiUser")}
                    <a data-modal='{:url("$classuri/setAntiUser")}?anti_id={$vo.id}&anti_code={$vo.code}' href="javascript:void(0)">指派代理</a>
                    <!--<span class="text-explode">|</span>-->
                    {/if}
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}